*{
    padding:0;
    margin:0;
}

body{
    background-color:#8A84E2;
    color: rgb(255, 248, 240);
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
   justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.game{
    display: flex;
    justify-content: center;
    height: 60vmin;
    width: 60vmin;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin; 
   margin-top: 5vmin;
}


.box{
    width: 18vmin;
    height: 18vmin;
   border-radius: 10%;
   background-color: #B7D3F2;
   box-shadow:0 0 1rem rgb(0,0,0);
   font-size: 70px;
   border: none;
   
}

#restart{
    margin-top: 20vmin;
    padding: 4vmin;
    margin: 4vmin;
    box-shadow:0 0 1rem rgba(0, 0, 0, 0.544);
    font-size: larger;
    background-color: #79BEEE;
    border: none;
    border-radius: 1rem;
}

h1{
   color: #03034b;
}



#msg{
    font-size: 5vmin;
}

.hide{
    display: none;
}
